@import "variables";

@import '../../../node_modules/sourceoftruth/scss/styles';

.alert {
    padding: 10px;
}

.alert-info {
    background-color: $infoBG;
    color: $black;
}

.alert-success {
    background-color: $successBG;
    color: $black;
}

.alert-warning {
    background-color: $warningBG;
    color: $black;
}

.alert-error {
    background-color: $errorBG;
    color: $black;
}

/* typography */
.text-default {
    font-size: $default-font-size !important;
    line-height: 1.4 !important;
}

.text-default-bold {
    font-size: $default-font-size !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
}

.text-small {
    font-size: $small-font-size !important;
    line-height: 1.4 !important;
}

.text-small-bold {
    font-size: $small-font-size !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
}

.text-xsmall {
    font-size: $xsmall-font-size !important;
    line-height: 1.4 !important;
}

.text-xsmall-bold {
    font-size: $xsmall-font-size !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
}

.text-large {
    font-size: $large-font-size !important;
    line-height: 1.4 !important;
}

.text-large-bold {
    font-size: $large-font-size !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
}

.text-info {
    color: $info;
}

.text-success {
    color: $success;
}

.text-warning {
    background-color: $warning;
}

.text-error {
    color: $error;
}
label {
    color: #fff;
}

label[required=true]:before {
    color: $errorBG;
    content: "*";
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 0.75;
    padding-right: 0.5rem;
    vertical-align: middle;
}

 input {
     background-color: #4e4b51;
     border: none;
     border-radius: 3px;
     display: block;
     padding: 6px 12px;
     width: 100%;
 }

 input[type='color'] {
     background-color: transparent;
     height: 2rem;
     padding: 0;
     width: 2rem;
 }

 input[hasError='true'] {
     border: 1px solid $error;
 }