@import "variables";

@import '../../../node_modules/sourceoftruth/scss/styles';

.alert {
    padding: 10px;
}

.alert-info {
    background-color: $infoBG;
    color: $black;
}

.alert-success {
    background-color: $successBG;
    color: $black;
}

.alert-warning {
    background-color: $warningBG;
    color: $black;
}

.alert-error {
    background-color: $errorBG;
    color: $black;
}

/* typography */
.text-default {
    font-size: $default-font-size !important;
    line-height: 1.4 !important;
}

.text-default-bold {
    font-size: $default-font-size !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
}

.text-small {
    font-size: $small-font-size !important;
    line-height: 1.4 !important;
}

.text-small-bold {
    font-size: $small-font-size !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
}

.text-xsmall {
    font-size: $xsmall-font-size !important;
    line-height: 1.4 !important;
}

.text-xsmall-bold {
    font-size: $xsmall-font-size !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
}

.text-large {
    font-size: $large-font-size !important;
    line-height: 1.4 !important;
}

.text-large-bold {
    font-size: $large-font-size !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
}

label {
    color: #fff;
}

label[required=true]:before {
    color: $errorBG;
    content: "*";
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 0.75;
    padding-right: 0.5rem;
    vertical-align: middle;
}