html {
    line-height: 1.15;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figure {
    margin: 1em 40px;
}

pre {
    font-size: 1em;
    font-family: monospace, monospace;
}

a {
    background-color: transparent;
    color: #90d0ff;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-size: 1em;
    font-family: monospace, monospace;
}

dfn {
    font-style: italic;
}

mark {
    color: #000000;
    background-color: color("yellow");
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

fieldset {
    margin: 0 2px;
    border: 1px solid #c0c0c0;
    padding: 0.35em 0.625em 0.75em;
}

[type=checkbox],
[type=radio] {
    padding: 0;
    box-sizing: border-box;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas,
audio,
video {
    display: inline-block;
}

template,
[hidden] {
    display: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

legend {
    padding: 0;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

typewriter {
    display: inline-block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
html a {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    background-color: #d5dae6;
}

body,
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.428571429;
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

a,
a:visited {
    color: color("blue");
}

button {
    cursor: pointer;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
}

hr {
    height: 0;
    margin: 40px 0;
    overflow: visible;
    box-sizing: content-box;
    border-top: 2px solid #caced1;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*=column--] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    [class*=column--] {
        float: left;
    }

    .row:not(.row--simple)>[class*=column--] {
        padding-right: 20px;
    }

    .row:not(.row--simple)>[class*=column--]:last-of-type {
        padding-right: 0;
    }

    .column--1 {
        width: 8.3333333333%;
    }

    .column--2 {
        width: 16.6666666667%;
    }

    .column--3 {
        width: 25%;
    }

    .column--4 {
        width: 33.3333333333%;
    }

    .column--5 {
        width: 41.6666666667%;
    }

    .column--6 {
        width: 50%;
    }

    .column--7 {
        width: 58.3333333333%;
    }

    .column--8 {
        width: 66.6666666667%;
    }

    .column--9 {
        width: 75%;
    }

    .column--10 {
        width: 83.3333333333%;
    }

    .column--11 {
        width: 91.6666666667%;
    }

    .column--12 {
        width: 100%;
    }
}

.container {
    width: 95vw;
    margin: 0 auto;
    position: relative;
    max-width: 90vw;
    padding: 0 20px;
}

section {
    margin-bottom: 1rem;
}

body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Cantarell", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
    color: #fefefe;
    margin: 1rem 0;
}

h1 {
    font-size: 22px;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    font-weight: 500;
}

h5 {
    font-size: 14px;
    font-weight: 500;
}

a {
    color: #90d0ff;
}

ul,
ol {
    padding-left: 1rem;
}

ul li,
ol li {
    padding-left: 1rem;
    list-style: inherit;
}

ul li ul,
ul li ol,
ol li ul,
ol li ol {
    padding-left: 1rem;
    list-style: inherit;
}

ul.unstyled,
ol.unstyled {
    list-style: none;
    padding-left: 0;
}

ul.unstyled li,
ol.unstyled li {
    padding-left: 0;
}

ul.unstyled li ul,
ul.unstyled li ol,
ol.unstyled li ul,
ol.unstyled li ol {
    padding-left: 1rem;
}

ul.unstyled li ul li,
ul.unstyled li ol li,
ol.unstyled li ul li,
ol.unstyled li ol li {
    padding-left: 1rem;
}

ul.horizontal li,
ol.horizontal li {
    display: inline;
}

ol,
ul {
    padding-left: 1rem;
}

dl dd {
    margin-bottom: 1rem;
}

dl dt {
    font-weight: 500;
}

p {
    margin-bottom: 1rem;
}

input {
    border-radius: 3px;
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
}

.btn,
button,
input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #68646b;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    line-height: 20px;
    margin: 0px;
    padding: 4px 15px;
}

.btn.disabled,
.btn[disabled],
button.disabled,
button[disabled],
input[type=button].disabled,
input[type=button][disabled],
input[type=submit].disabled,
input[type=submit][disabled],
input[type=reset].disabled,
input[type=reset][disabled] {
    opacity: 50%;
    cursor: not-allowed;
    text-decoration: none;
}

.btn-lg {
    font-size: 16px;
    line-height: 1.3333333;
}

.btn-sm {
    font-size: 12px;
    line-height: 1.5;
}

.btn-link {
    background-color: transparent;
    border: none;
    color: #90d0ff;
    text-decoration: underline;
}

.btn-link:hover {
    text-decoration: none;
}

.btn-primary {
    color: #000;
    background-color: #56bc2f;
    border: none;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #000;
    background-color: #439325;
}

.btn-primary:hover {
    color: #000;
    background-color: #439325;
    text-decoration: none;
}

.btn-primary:active,
.btn-primary.active,
.open>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #439325;
}

.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open>.btn-primary.dropdown-toggle:hover,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #316a1b;
}

.btn-primary:active,
.btn-primary.active,
.open>.btn-primary.dropdown-toggle {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #56bc2f;
    text-decoration: none;
}

.btn-primary .badge {
    color: #56bc2f;
    background-color: #fff;
}

.btn-secondary {
    color: #fff;
    background-color: #68646b;
    border: none;
}

.btn-secondary:focus,
.btn-secondary.focus {
    color: #fff;
    background-color: #4e4b51;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #4e4b51;
    text-decoration: none;
}

.btn-secondary:active,
.btn-secondary.active,
.open>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #4e4b51;
}

.btn-secondary:active:hover,
.btn-secondary:active:focus,
.btn-secondary:active.focus,
.btn-secondary.active:hover,
.btn-secondary.active:focus,
.btn-secondary.active.focus,
.open>.btn-secondary.dropdown-toggle:hover,
.open>.btn-secondary.dropdown-toggle:focus,
.open>.btn-secondary.dropdown-toggle.focus {
    color: #fff;
    background-color: #353336;
}

.btn-secondary:active,
.btn-secondary.active,
.open>.btn-secondary.dropdown-toggle {
    background-image: none;
}

.btn-secondary.disabled,
.btn-secondary.disabled:hover,
.btn-secondary.disabled:focus,
.btn-secondary.disabled.focus,
.btn-secondary.disabled:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled],
.btn-secondary[disabled]:hover,
.btn-secondary[disabled]:focus,
.btn-secondary[disabled].focus,
.btn-secondary[disabled]:active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary,
fieldset[disabled] .btn-secondary:hover,
fieldset[disabled] .btn-secondary:focus,
fieldset[disabled] .btn-secondary.focus,
fieldset[disabled] .btn-secondary:active,
fieldset[disabled] .btn-secondary.active {
    background-color: #68646b;
    text-decoration: none;
}

.btn-secondary .badge {
    color: #68646b;
    background-color: #fff;
}

.btn-success {
    color: #000;
    background-color: #51cf66;
    border: none;
}

.btn-success:focus,
.btn-success.focus {
    color: #000;
    background-color: #33ba4a;
}

.btn-success:hover {
    color: #000;
    background-color: #33ba4a;
    text-decoration: none;
}

.btn-success:active,
.btn-success.active,
.open>.btn-success.dropdown-toggle {
    color: #000;
    background-color: #33ba4a;
}

.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:active.focus,
.btn-success.active:hover,
.btn-success.active:focus,
.btn-success.active.focus,
.open>.btn-success.dropdown-toggle:hover,
.open>.btn-success.dropdown-toggle:focus,
.open>.btn-success.dropdown-toggle.focus {
    color: #fff;
    background-color: #28923a;
}

.btn-success:active,
.btn-success.active,
.open>.btn-success.dropdown-toggle {
    background-image: none;
}

.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled.focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled].focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
    background-color: #51cf66;
    text-decoration: none;
}

.btn-success .badge {
    color: #51cf66;
    background-color: #fff;
}

.btn-danger {
    color: #000;
    background-color: #F56865;
    border: none;
}

.btn-danger:focus,
.btn-danger.focus {
    color: #000;
    background-color: #f23935;
}

.btn-danger:hover {
    color: #000;
    background-color: #f23935;
    text-decoration: none;
}

.btn-danger:active,
.btn-danger.active,
.open>.btn-danger.dropdown-toggle {
    color: #000;
    background-color: #f23935;
}

.btn-danger:active:hover,
.btn-danger:active:focus,
.btn-danger:active.focus,
.btn-danger.active:hover,
.btn-danger.active:focus,
.btn-danger.active.focus,
.open>.btn-danger.dropdown-toggle:hover,
.open>.btn-danger.dropdown-toggle:focus,
.open>.btn-danger.dropdown-toggle.focus {
    color: #000;
    background-color: #e5130f;
}

.btn-danger:active,
.btn-danger.active,
.open>.btn-danger.dropdown-toggle {
    background-image: none;
}

.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled.focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled].focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger.focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
    background-color: #F56865;
    text-decoration: none;
}

.btn-danger .badge {
    color: #F56865;
    background-color: #333;
}

.btn-warning {
    color: #000;
    background-color: #FFC53D;
    border: none;
}

.btn-warning:focus,
.btn-warning.focus {
    color: #000;
    background-color: #ffb60a;
}

.btn-warning:hover {
    color: #000;
    background-color: #ffb60a;
    text-decoration: none;
}

.btn-warning:active,
.btn-warning.active,
.open>.btn-warning.dropdown-toggle {
    color: #000;
    background-color: #ffb60a;
}

.btn-warning:active:hover,
.btn-warning:active:focus,
.btn-warning:active.focus,
.btn-warning.active:hover,
.btn-warning.active:focus,
.btn-warning.active.focus,
.open>.btn-warning.dropdown-toggle:hover,
.open>.btn-warning.dropdown-toggle:focus,
.open>.btn-warning.dropdown-toggle.focus {
    color: #fff;
    background-color: #d69600;
}

.btn-warning:active,
.btn-warning.active,
.open>.btn-warning.dropdown-toggle {
    background-image: none;
}

.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled.focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled].focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning.focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: #FFC53D;
    text-decoration: none;
}

.btn-warning .badge {
    color: #FFC53D;
    background-color: #fff;
}

.btn-info {
    color: #000;
    background-color: #48A8F5;
    border: none;
}

.btn-info:focus,
.btn-info.focus {
    color: #000;
    background-color: #1891f2;
}

.btn-info:hover {
    color: #000;
    background-color: #1891f2;
    text-decoration: none;
}

.btn-info:active,
.btn-info.active,
.open>.btn-info.dropdown-toggle {
    color: #000;
    background-color: #1891f2;
}

.btn-info:active:hover,
.btn-info:active:focus,
.btn-info:active.focus,
.btn-info.active:hover,
.btn-info.active:focus,
.btn-info.active.focus,
.open>.btn-info.dropdown-toggle:hover,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle.focus {
    color: #fff;
    background-color: #0b76cc;
}

.btn-info:active,
.btn-info.active,
.open>.btn-info.dropdown-toggle {
    background-image: none;
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled.focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled].focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: #48A8F5;
    text-decoration: none;
}

.btn-info .badge {
    color: #48A8F5;
    background-color: #fff;
}

html,
body {
    background-color: #57535A;
    color: #fefefe;
    margin-top: 15px;
}

section {
    border-top: 1px solid #ffffff25;
}