 input {
    background-color: #4e4b51;
    border: none;
    border-radius: 3px;
    padding: 6px 12px;
    width: 100%;
}
input[type='color'] {
    background-color: transparent;
    height:2rem;
    padding:0;
    width: 2rem;
}