.navbar {
  align-items: center;
  background-color: #1A191B;
  display: flex;
  height: 36px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  justify-content: space-between;
  padding: 0px 10px 0px;
}

.navbar-link {
  color: #fff;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
}

svg {
  display: inline-block;
  margin-top: 14px;
  vertical-align: middle;
}

button + button {
  margin-left: 10px;
}
